@using MVCFrontendOfTh6.Models;
@model SanPham
@{
    ViewBag.Title = "SpTheoTen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.tensanpham</h2>
@if (Model != null)
{
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã </th>
            <th>tên</th>
            <th>Loại</th>
            <th>Đơn Giá</th>
            <th>Sửa</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody>
    
            <tr>
                <td>@Model.Ma</td>
                <td>@Model.Ten</td>
                <td>@Model.MaDanhMuc</td>
                <td>@string.Format("{0:#,##0}", Model.DonGia)</td>
                <td></td>
                <td><a class="btn btn-danger" onclick="return confirm('Bạn có muốn xóa không?');" href="~/SanPham/xoa/">Xóa</a></td>
            </tr>
    </tbody>
</table>}
else
{
    <h4>không có sản phẩm trùng khớp</h4>
}
